pydantic
langchain
openai
langchain-openai
langchain-gemini
langchain_groq
python-dotenv
langchain-core
langchain-community
pypdf
beautifulsoup4
langchain-text-splitters
faiss-cpu
scikit-learn
langchain-tavily
youtube_search
ipython
